		<!--Footer-->
		</div>

		<div class="container-fluid bg-primary" style="margin:0;
		 		border-top: solid 3px #D55342; color:white;" >
			<div class="" style='padding: 15px'>
				<br><br>
				<div class="row">
					<!-- <div class="col-lg-1"> <br></div> -->
					<div class="col-lg-2 img-himfg text-center" style="height: 10rem">
						<a href="http://himfg.com.mx/">
							<img class="img-fluid"
								src="assets/images/logos/HIMFG.png"
								style="max-height: 100%; padding:0;"
								alt="Hospital Infantil de Mexico Federico Gomez"
								title="Hospital Infantil de Mexico Federico Gomez">
						</a>
					</div>
					<div class="col-lg-4 img-brookes text-center" style="height: 10rem">
						<a href="https://www.brookes.ac.uk/">
							<img class="img-fluid float-left"
							 	src="assets/images/logos/pngfind.com-lime-png-490875.png"
							 	alt="Oxford Brookes University" style="max-height: 100%; padding: 1rem;"
							 	title="Oxford Brookes University">
						</a>
					</div>
					<div class="col-lg-6" style="line-height:1.15">
						<a href="http://www.newtonfund.ac.uk">
							<img class="img-fluid img-png-white-border"
								src="assets/images/logos/BC-NF-Logos.png"
							 	alt="British Council and Newton Funds logos"
							 	title="British Council and Newton Funds">
						</a>
						<p class="col-text" style="padding-top:1rem; color: rgba(255,255,255,0.8);">
							<small>This work was supported by a Institutional Links grant,
							432368181. The grant is funded by the UK Department for
							Business, Energy and Industrial Strategy and delivered by
							the British Council. For further information, please visit
							the website.</small>
						</p>
					</div>
					<!-- <div class="col-lg-1"> <br></div> -->
				</div>
				<br>
				<a class="float-right btn btn-primary border-danger" href="#top">^</a>
				<br> <small>&#169; CARDIGAN, 2020</small>
			</div>
		</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	</body>
</html>
